<div class="card" (click)="sendIdToDetails(movie.id)">
  <figure>
    <img [src]="environment.imgurl + movie.poster_path" class="card-img-top" />
    <div class="overlay">
      <p><a >Show details...</a></p>
    </div>
  </figure>
  <div class="card-body">
    <h6 class="card-text">{{ movie.title }}</h6>
    <p>
      {{ movie.release_date | date }}
      <button class="btn" (click)="toggleWatchList()">
        <fa-icon
          [icon]="faHeart" [ngClass]="{ watchListed: movie.watchlist }"></fa-icon>
      </button>
    </p>
  </div>
</div>
