<nav class="navbar navbar-expand-lg">
    <div class="container">
     <a class="navbar-brand" href="#">Movie App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <fa-icon [icon]="faHeart"></fa-icon> Watchlist
    </div>
    </div>
</nav>
<div class="container header-container">
    <h1>Welcome to our movie app</h1>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search and explore" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>
