<div class="container py-5">
    <h2>Watch List</h2>
    <div class="row py-5">
        <div class="col-12 col-md-6 mb-5 mx-auto">
            <article class="card-wrapper d-flex flex-column flex-md-row shadow rounded-3 p-4">
                <div class="card-img rounded-3">
                    <img src="" class="img-fluid" alt="movie img">
                </div>
                <div class="card-body mt-3 mt-md-0">
                    <header class="d-flex justify-content-between">
                        <h3>Movie Name</h3>
                        <fa-icon [icon]="faHeart" class="fs-4"></fa-icon>
                    </header>
                    <p class="mx-2 text-black-50">Date</p>
                    <div class="rating d-flex">
                        <span><fa-icon [icon]="faStar"></fa-icon> </span>
                        <span><fa-icon [icon]="faStar"></fa-icon> </span>
                        <span><fa-icon [icon]="faStar"></fa-icon> </span>
                        <span><fa-icon [icon]="faStar"></fa-icon> </span>
                        <span><fa-icon [icon]="faStar"></fa-icon> </span>
                        <span class="ms-2">ratings num</span>
                    </div>

                    <p class="my-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia et obcaecati iure dolore accusantium rerum eum veniam beatae iste blanditiis cumque ratione maiores cum dignissimos debitis, hic commodi ut quaerat.
                    </p>
                </div>
            </article> 
        </div>
      
        
    </div>
</div>