<div class="container">
    <div class="container header-container">
        <h1>Welcome to our movie app</h1>
        <p>Millions of movies, TV shows and people to discover. Explore now.</p>
       <div class="d-flex" role="search">
            <input  [(ngModel)]="inputValue"  class="form-control me-2" type="text"  placeholder="Search and explore" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
        </div>
    </div>
    <h2>Popular Movies</h2>
    <div class="movie-container">
           <app-moviecard [movie]="movie" *ngFor="let movie of movies"></app-moviecard>
    </div>
</div>
