* {
    list-style: none;
    text-decoration: none;
}

.ratingIcon {
    bottom: -5%;
    left: 10%;
    color: white;
    background: black;
    color: #fff;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    line-height: 2rem;
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


img{width: 100%;height: auto;}

.tgleBtn{
    color: rgb(206, 207, 208);
}

.star{
    color: #ffe353;
}