<div class="container">
    <div class="d-flex  py-5" role="search">
        <input  [(ngModel)]="searchdisplayvalue"  class="form-control me-2" type="text"  placeholder="Search and explore" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="searchToValue()">Search</button>
    </div>
    <div class="movie-container row">
        <app-moviecard class="col-12 col-md-4 col-lg-2" *ngFor="let value of searchValue" [movie]="value"
           ></app-moviecard>
    </div>

</div>